body {
	background-color: rgb(84, 184, 84);
}
#deckImage {
	width: 100px;
	height: 100px;
}
#scoreLabel {
	margin-left: 5px;
}
.score-wrapper {
	text-align: center;
}
.card-wrapper {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	min-height: 30vh;
}
.hidden-image {
	content: url("images/hidden.png");
}
.card-image {
	/*images size is 5/7*/
	width: 20vh;
	height: 28vh;
}
